{% extends "main/base.html" %} 

{% block content %} 
    <header>
        <h1> Welcome to our customers </h1>
    </header>
    
   {% for my_customer_item in my_customer %}
        <!--Affichage Listing des clients -->
        {{my_customer_item.name}}
        <br>
        {{my_customer_item.customer_type}}
        <br>
        {{my_customer_item.DoB}}
        <br>
        {{my_customer_item.gender}}
        <br>
        {{my_customer_item.email}}
        <br>
        {{my_customer_item.phone}}
        <br>
        {{my_customer_item.address}}
        <br>
        {{my_customer_item.town}}
        <br>
        {{my_customer_item.region}}
        <br>
        <hr>

    {% endfor %}
    
{% endblock content %}
