{% extends "main/base.html" %} 

{% block content %} 
    <header>
        <h1> Welcome to orders </h1>
    </header>

<table>
    <thead>
        <th>Réf Commande</th>
        <th>Nom Client</th>
        <th>Produit</th>
        <th>Prix Unitaire TTC</th>
        <th>Quantité</th>
        <th>Statut</th>
        <th>Date de livraison - prévue</th>
        <th>Date de livraison - effective</th>
        <th>Prix avant livraison TTC</th>
        <th>Frais livraison</th>
        <th>Prix total TTC</th>
        <th>Etat livraison</th>
        
    </thead>
    <tbody>
        {% for order in my_order %}
        <tr>    
            <td>{{order.id}}</td>
            <td>{{order.customer.name}}</td>
            <td>{{order.product.name}}</td>
            <td>{{order.product.price_pdt_TTC}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.status}}</td>
            <td>{{order.Delivery_date_expected}}</td>
            <td>{{order.Delivery_date_final}}</td>
            <td>{{order.get_total_item_price_TTC}}</td>
            <td>{{order.delivery_fees}}</td>
            <td>{{order.get_total_order_price_TTC}}</td>
            <td>{{order.late_delivery}}</td>
        </tr>
            
        {% endfor %}
        
    </tbody>

    
    
    
    
</table>  

{% endblock content %}