{% extends "main/base.html" %} 

{% block content %} 
    <header>
        <h1> Welcome to products </h1>
    </header>

    {% for my_product_item in my_product %}
        <!--Affichage Listing des clients -->
        {{my_product_item.name}}
        <br>
        {{my_product_item.description}}
        <br>
        {{my_product_item.category}}
        <br>
        {{my_product_item.n_lot}}
        <br>
        {{my_product_item.price_pdt_HT}}
        <br>
        {{my_product_item.price_pdt_TTC}}
        <br>
        {{my_product_item.commercial_margin}}
        <br>
        {{my_product_item.stock_q}}
        <br>
        {{my_product_item.stock_security}}
        <br>
        {{my_product_item.stock_status}}
        <br>
        <hr>

    {% endfor %}
    
    
{% endblock content %}